code {
font-size : 1.2rem;
font-weight : 900;
padding : 0;
}


element-container.css-1cj5r0x.e1tzin5v3 p {
 color : green;
}


.css-v37k9u.e16nr0p33 p {

 font-weight : 700;
 color : #959597;
}

.css-1v0mbdj.etr89bj1 img {

 border-radius : 10px;
}

.css-10trblm.e16nr0p30 {

	color : #7700b3;
}

.css-ocqkz7.e1tzin5v4{

	gap : 2.5rem;
}